<div class="sign-in-page">
  <div class="sign-up-header">
    indieVanGoGo
  </div>
<div class="sign-in-form">
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
  <ul class="sign-in-list">
    <li><input class="sign-in email list-group-item" type="text" name="user[email]" value="" placeholder="Email"></li>
    <li><input type="password" class="sign-in password list-group-item" name="user[password]" value="" placeholder="Password"></li>
  </ul>

  <input class="sign-in-button btn submit" type="submit" value="Sign in">
<button class="sign-in-button guest btn" type="" value="">Sign in as a Guest</button>
  <div class="sign">
    <a class="sign" href="<%= new_user_url%>">Sign up</a>
  </div>

  </form>
</div>
<div class="login-text">
  A place for artists to show their work, and others to fund them.
</div>
</div>
<script type="text/javascript" charset="utf-8">
  $(".sign-in-button.guest").on("click", function(event) {
    event.preventDefault();
    $(".email").val( "<%= @user.email %>");
    $(".password").val("password");
    $(".submit").click();
  });
</script>
<script type="text/javascript" charset="utf-8">
  $(".sign-in-button.sign-up").on("click", function(event) {

  });
</script>
