
  <div class="thumbnail">
    <img src="<%=artist.escape("thumbnail_image")%>" alt="">
  </div>
  <div class="project-content">
    <div class="project-caption">
      <h4><a class="explore" href="#users/<%=artist.id%>"><%=artist.escape("name")%></a></h4>
  </div>
  <div class="project-description">
    <p class="artist-description-overflow"><%=artist.escape("cropped_description")%>
    </p>
  </div>
  <div class="amount-funded">
    $<%= artist.escape("amount_funded") %> USD
  </div>
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=artist.escape("percent_funded")%>"
  aria-valuemin="0" aria-valuemax="100" style="width: <%=artist.escape("percent_funded")%>%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<div class="percent-funded">
  %<%= artist.escape("percent_funded") %>
</div>
</div>
  <div>
    <button type="" name="button" class="btn btn-primary gallery-button">View Artist Gallery</button>
  </div>
